*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background:url("./img/background.png");
}
img{
    height:25px;
    opacity:0;
    transition:opacity 0.5s ease-in-out;
}
.task:hover img {
    opacity: 1;

}
.container{
    background-color: rgb(132, 220, 223);
    width:500px;
    border-radius:10px;
    padding:20px;
    margin:100px auto 0;
}
.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.button-task:hover{
    opacity:0.8;
}
.button-task:active{
    opacity: 0.6;
}

.button-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color:rgb(11, 73, 73);
    color: white;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight:600;

}

.list-tasks{
    width: 100%;
    list-style:none;
    margin-top:30px;
}

.task{
    background-color: wheat;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom:20px;
    cursor: pointer;

}
.done{
    background-color:green;
    text-decoration: line-through;
}